@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@700&family=Ubuntu:wght@500&display=swap');

h1 {
    margin: 10px auto 0px auto;
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #297fb8;
}
h2 {
    margin: 10px auto 0px auto;
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #6FA1D6
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.55rem;
    color: #6FA1D6
    ;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.55rem;
    line-height: 1;
    color: #6FA1D6
    ;
}